/* .notes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
} */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
}
.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  border: 1px solid #222323;
  background-color: white;
}
.page-item:hover {
  transition: 1s;
  background-color: #fef68a;
}
.page-link {
  color: black;
}
